* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
  }
  
  .container {
    margin: 0 auto;
    width: 1320px;
  }
  
  .row {
    display: flex;
  }
  
  .col-1 {
    width: 8.333333%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-2 {
    width: 16.666667%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  
  .col-3 {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  
  .col-4 {
    width: 33.333333%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-5 {
    width: 41.666667%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-6 {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-7 {
    width: 58.333333%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-8 {
    width: 66.666667%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-9 {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-10 {
    width: 83.333333%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-11 {
    width: 91.666667%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .col-12 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .gap-10 {
    gap: 10px;
  }
  
  ul li {
    list-style-type: none;
    line-height: 2;
    font-family: sans-serif;
  }
  
  .heading-footer {
    font-family: sans-serif;
    font-size: 18px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .list-content {
    background-color: #30598c;
    
  }
  
  .content{
      margin: 20px;
  }
  
  .post-thumbnail img {
      height: 190px;
      width: 320px;
  }
  